0name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker pull ahmed1salem/teamavailtest-web:latest
            docker stop teamavailtest-web || true
            docker rm teamavailtest-web || true
            docker run -d -p 80:3000 --name teamavailtest-web ahmed1salem/teamavailtest-web:latest
